body {
    height: 100vh;
    background: url("../../assets/images/Brandnewlaptop.jpg") no-repeat; 
    background-size: cover;
    backdrop-filter: blur(5px);
    background-position: center;
  }

.lg {
    border: 0.1rem solid black;
    border-color: gray;
    border-radius: 5px;
    width: 30rem;
    height: 50vh;
    background:  rgba(255, 255, 255, 0.467) ;
    display: flex, inline;
    padding: auto;
    margin: auto;
    text-align: left;
    
    
}

input
{
    width: 30rem;
    height: 4rem;
    border-radius: 20px;
    margin-bottom: 0.5rem;
}

::placeholder {
    font-size: 2rem;
    padding-left: 2.5rem;

}

.Btun {
    background-color: white;
    border-radius: 3rem;
    width: 18rem;
    height: 3rem;
}

.Fakelink {
    color:blue;
}