body {
     background: linear-gradient(117.82deg, #fff45f 2.65%, #ffe100 98.16%);

}

.lg {
    border: 0.1rem solid black;
    border-color: gray;
    border-radius: 5px;
    width: 42rem;
    height: 50rem;
    background: rgba(255, 255, 255, 0.467);
    display: block;
    padding: 1rem;
    margin: 1rem;
}

input
{
    width: 30rem;
    height: 4rem;
    border-radius: 20px;
    margin-bottom: 0.5rem;
}

::placeholder {
    font-size: 2rem;
    padding-left: 2.5rem;

}

.Btun {
    background-color: white;
    border-radius: 3rem;
    width: 18rem;
    height: 3rem;
}